# 1. What is the typical engagement rate we can expect? Whatâ€™s the likelihood that we can achieve a 15% engagement rate?

In [1]:
# to tackle this question we first need to calulate what the engagement rate is
# I will need to know which columns I need to look at to find this calculation so I will need to load in the dataset

In [3]:
# import relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# read in the dataset
pd.set_option('display.width', None) # make sure to see every column of the datasetf
df = pd.read_excel('social_data.xlsx') # read in excel file to pandas dataframe

In [13]:
# understand dataframe
df.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
0,2023-03-31 19:55:43.192,CSGO,TWITTER,N/A,0.0,0.0,Text
1,2023-03-31 19:49:35.243,CSGO,TWITTER,N/A,0.0,0.0,Text
2,2023-03-31 19:49:33.535,CSGO,TWITTER,N/A,0.0,0.0,Text
3,2023-03-31 19:49:31.583,CSGO,TWITTER,N/A,0.0,0.0,Text
4,2023-03-31 19:43:42.590,CSGO,TWITTER,Community Engagement,9517.0,1215.0,Video

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3432 entries, 0 to 3478
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Published Date     3432 non-null   datetime64[ns]
 1   Account            3432 non-null   object
 2   Account Type       3432 non-null   object
 3   Campaign Name      3432 non-null   object
 4   Total Impressions  3432 non-null   float64
 5   Total Engagements  3432 non-null   float64
 6   Media Type         3432 non-null   object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 214.5+ KB

In [14]:
# remove any nulls or duplicates
df = df.dropna()
df = df.drop_duplicates()
df.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
0,2023-03-31 19:55:43.192,CSGO,TWITTER,N/A,0.0,0.0,Text
1,2023-03-31 19:49:35.243,CSGO,TWITTER,N/A,0.0,0.0,Text
2,2023-03-31 19:49:33.535,CSGO,TWITTER,N/A,0.0,0.0,Text
3,2023-03-31 19:49:31.583,CSGO,TWITTER,N/A,0.0,0.0,Text
4,2023-03-31 19:43:42.590,CSGO,TWITTER,Community Engagement,9517.0,1215.0,Video

In [8]:
df.info()
# there doesn't seem to be any nulls or duplicates in this dataset

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3432 entries, 0 to 3478
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Published Date     3432 non-null   datetime64[ns]
 1   Account            3432 non-null   object
 2   Account Type       3432 non-null   object
 3   Campaign Name      3432 non-null   object
 4   Total Impressions  3432 non-null   float64
 5   Total Engagements  3432 non-null   float64
 6   Media Type         3432 non-null   object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 214.5+ KB

In [16]:
df.describe()
# i can see that Total Impressions and Total Engagements are the only numerical values
# we will use these to calculate the engagement rate

       Total Impressions  Total Engagements
count        3432.000000        3432.000000
mean        11027.852855         938.843531
std         29746.123258        3465.463934
min             0.000000           0.000000
25%           186.750000           0.000000
50%          1909.500000          39.000000
75%         12476.750000         276.000000
max        753227.000000       95062.000000

In [18]:
# given these two columns the engagement rate can be calculated by the following:
# engagement rate = (total engagements/total impressions) * 100

# with this equation we can calculate the engagement rate
total_impressions = df['Total Impressions'].sum() # find sum of impressions
total_engagements = df['Total Engagements'].sum() # find sum of engagements
# find engagement rate
engagement_rate = (total_engagements/total_impressions)*100
print(engagement_rate)

8.513384643159984

In [19]:
# round to two decimals
round(engagement_rate,2)

8.51

In [20]:
# The calculated engagement rate we found is 8.51%

The calculated engagement rate from the given data is 8.51%.  This is significantly lower than the target engagement rate of 15%.  To achieve a 15% engagement rate new strategies would have to be implemented such as optimizing content, catering towards the proper audience and utilizing new features.

It is not impossible to achieve the target but a lot will have to be done.